<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level11</key>
	<dict>
		<key>level</key>
		<string>Level11.tmx</string>
		<key>music</key>
		<string>lvl11.mp3</string>
		<key>background</key>
		<array>
			<array>
				<string>lvl11-11</string>
				<string>lvl11-12</string>
				<string>lvl11-13</string>
				<string>lvl11-14</string>
			</array>
			<array>
				<string>lvl11-21</string>
				<string>lvl11-22</string>
				<string>lvl11-23</string>
				<string>lvl11-24</string>
			</array>
		</array>
	</dict>
	<key>level12</key>
	<dict>
		<key>level</key>
		<string>Level12.tmx</string>
		<key>music</key>
		<string>lvl12.mp3</string>
		<key>background</key>
		<array>
			<array>
				<string>lvl11-11</string>
				<string>lvl11-12</string>
				<string>lvl11-13</string>
				<string>lvl11-14</string>
			</array>
			<array>
				<string>lvl11-21</string>
				<string>lvl11-22</string>
				<string>lvl11-23</string>
				<string>lvl11-24</string>
			</array>
		</array>
	</dict>
	<key>level13</key>
	<dict>
		<key>level</key>
		<string>Level13.tmx</string>
		<key>music</key>
		<string>lvl13.mp3</string>
		<key>background</key>
		<array>
			<array>
				<string>lvl11-11</string>
				<string>lvl11-12</string>
				<string>lvl11-13</string>
				<string>lvl11-14</string>
			</array>
			<array>
				<string>lvl11-21</string>
				<string>lvl11-22</string>
				<string>lvl11-23</string>
				<string>lvl11-24</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
