<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walkingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5</string>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>dyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>6,7</string>
		<key>delay</key>
		<real>0.3</real>
	</dict>
	<key>jumpUpAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>4,8,4</string>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>wallSlideAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>9</string>
		<key>delay</key>
		<real>0.1</real>
	</dict>
</dict>
</plist>
