<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seekingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>2,3,4,5,6,7</string>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>attackingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>81,82,83,84,85</string>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>dyingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>94,95,96,97,98,99</string>
		<key>delay</key>
		<real>0.1</real>
	</dict>
	<key>lookingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>2,3,4,5,6,7</string>
		<key>delay</key>
		<real>0.2</real>
	</dict>
</dict>
</plist>
